.navlink {
    text-decoration: none;
    color: #000;
}

.sidebar {
    margin-left: -80px;
    position: fixed;
    top: 60px;
}

.sidebar-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
}

.sidebar-link:hover{
    background-color: rgb(216, 216, 216);
}

.sidebar-icon{
    height: 23px;
    object-fit: cover;
    object-position: center;
}

.sidebar-icon-name{
    height: 15px;
    display: flex;
    justify-content: center;
}

.name{
    font-family: Roboto;
    font-size: 10px; 
}    